.link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #273576;
  text-decoration: none;
}

.errorMessage {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #db2c39;
  margin-bottom: 16px;
}
