.triggerTitle {
  line-height: 1.2;
  border-bottom: 2px solid #3d54b8;
  cursor: pointer;
}

.titleContainer {
  color: #3D54B8;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.detailHeader {
  color: #E3E9FF14;
}