.detail {
  margin: 0.5rem 0;

  .detailTitle {
    font-weight: 500;
    font-size: 0.85rem;
    color: #50545e;
  }

  .detailValue {
    font-weight: 600;
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #202532;
  }

  &.fullWidth {
    grid-column: span 2;
  }
}
