.chip {
  background-color: #e86825 !important;
  color: #ffffff !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border-radius: 2px !important;
  margin: 2px !important;
}

.deleteIcon {
  color: #ffffff !important;
}
