.grid {
  display: grid;
  grid-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);

  > * {
    overflow: hidden;
  }
}

.navbar {
  display: flex;
  margin-left: auto;

  .navbarLink {
    font-weight: 600;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

.heading {
  font-weight: 600;
  font-size: 1rem;
  color: #50545e;
  margin: 0;
}
