.resendButton {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #E86825;
  text-transform: none;
}

.success {
  color: #008556;
  padding-top: 16px;
  padding-bottom: 8px;
  text-align: center;
}

.successBody {
  font-size: 14px;
  line-height: 20px;
}

.successTitle {
  font-weight: 700;
}
