.accordion {
  background: #f2f2f3 !important;
  border: 1px solid #bec0c5 !important;
  box-shadow: none !important;
  border-radius: 4px !important;
}

.summary {
  font-weight: 600 !important;
  font-size: 14px !important;
}

.accordionSummary {
  background: #E3E9FF;
}
